/* ------------------------------
         common styles 
--------------------------------*/

* {
    margin: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Work Sans', sans-serif;
}

.common-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.common-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-title {
    color: #FF42A5;
}



/*--------------------------------------
               header styles
 --------------------------------------- */

header {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

/*---------------------------------------
                nav styles
 ----------------------------------------- */


.nav-section {
    background-color: #FFF;
    padding: 1.25rem 0;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.logo-container {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.logo-container img {
    width: 5.25rem;
    height: 2.5rem;
}

.logo-container p {
    font-size: 2.75rem;
    font-weight: 700;
    color: #0B0223;
}


.nav-items-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
}

.nav-items-container a {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding: 1rem;
}

.btn-follow {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1.25rem 1.5rem;
}

.btn-follow .youtube {
    width: 1.75rem;
    height: 1.5rem;
    color: #F61C0D;
    margin-left: 10px;
}

.btn-follow .tiktok {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 5px;
}



/* ------------------------------------------
               banner styles 
--------------------------------------------*/


.banner-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 3.5rem;
    min-height: 200px;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.banner-content {
    width: 50%;
    min-height: 100px;
}

.banner-title-one {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}

.banner-title-two {
    font-size: 5.5rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1.5rem;
}

.banner-description {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.banner-img {
    width: 50%;
    min-height: 100px;
}

.banner-img img {
    width: 100%;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    border: 0;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.btn-secondary {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1.25rem 2.5rem;
    border: 0;
    border-radius: 3rem;
    background: #4EC5F7;
    margin: 2.5rem 0 0 1.5rem;
}




/*-----------------------------------------
      online games section styles
 ------------------------------------------ */



main {
    background-color: #FFF;
}

.online-games {
    max-width: 1200px;
    margin: 120px auto;
}

.online-games-content {
    text-align: center;
    margin-bottom: 3rem;
}



.funny-videos-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-videos-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}

.videos-card {
    position: relative;
}

.watch-now {
    text-align: center;
    position: absolute;
    top: 120px;
    left: 100px;
    display: none;
}

.fa-solid {
    font-size: 2.25rem;
    border-radius: 16px;
    color: #FFF;
}

.watch-now-text {
    margin-top: 10px;
    color: #F948B2;
    font-weight: 700;
}

.card-img {
    width: 100%;
    margin-bottom: 1.5rem;
}

.overlay {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    transition: opacity 0.1s ease-in-out;
    background-color: black;
    cursor: pointer;
}

.video-description {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}


.card-img:hover {
    border: 4px solid #FF42A5;
    border-radius: 16px;
}

.videos-card:hover .watch-now {
    display: inline;
}

.videos-card:hover .overlay {
    opacity: 0.7;
}




/*--------------------------------------------------
        play instant section styles
---------------------------------------------------- */



.play-instant {
    max-width: 1200px;
    margin: 120px auto;
}

.play-instant-container {
    display: flex;
    align-items: center;
    gap: 100px;
}

.play-instant-content {
    width: 50%;
    padding: 0 100px;
    text-align: end;
}

.play-instant-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    padding-left: 50px;
    margin-top: 1.5rem;
}

.play-instant-img {
    width: 50%;
}

.instant-img-one img {
    width: 100%;
    position: relative;
    top: 130px;
    left: 20px;
}

.instant-img-two img {
    width: 50%;
    position: relative;
    left: -100px;
    top: -100px;
}



/*----------------------------------------
         games section styles 
------------------------------------------*/


.game-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 1rem 0;
}

.games {

    max-width: 1200px;
    margin: 130px auto;
}


.games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;

}

.margin-left {
    margin-left: 3rem;
}

.games-card {
    width: 200px;
    outline: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 5px;
}

.games-card:hover {
    outline: 2px solid #FF42A5;
    border-radius: 50px;
    background: #FFF;
    /* color: #FF42A5; */
}

.games-card:hover .games-title {
    color: #FF42A5;
}

.games-img {
    width: 50%;
    width: 3.25rem;
    height: 3.25rem;
}

.games-title {
    width: 50%;
    color: #0B0223;
    font-size: 12px;
    font-weight: 700;
}

/* ---------------------------------
    footer section styles 
-----------------------------------*/


footer {
    background-color: #0B0223;
}

.footer-container {
    max-width: 1200px;
    margin: 100px auto 0;
    padding: 120px 200px;
}

.footer-title-container {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    justify-content: center
}

.footer-title-img {
    width: 5.25rem;
    height: 2.5rem;
}

.footer-title {
    font-size: 2.75rem;
    font-weight: 700;
    color: #FFF;
}

.footer-link {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 60px 0;
}

.footer-link a {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.footer-icons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    padding: 0 5rem;
}

.icon {
    color: #FFF;
    font-size: 2.5rem;
}

.footer-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 60px 0 30px 0;
    padding-left: 3rem;
    justify-content: center;

}

.footer-info .info {
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
}

.copy-right {
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    text-align: center;
}






/*---------------------------------------
        media queries styles
----------------------------------------- */


/*-----------------------------------------
          mobile devices
 ------------------------------------------ */



@media screen and (max-width:576px) {

    /*---------------------- nav responsive------------------ */

    .nav-container,
    .logo-container,
    .nav-items-container {
        flex-direction: column;
    }

    .nav-items-container {
        margin-bottom: 30px;
    }


    /*------------------- banner responsive--------------- */

    .banner-container {
        flex-direction: column-reverse;
    }


    .banner-content,
    .banner-img {
        width: 100%;
        padding: 0 3rem;
    }

    .banner-content {
        padding: 3rem;
    }

    .banner-title-one {
        font-size: 2rem;
    }

    .banner-title-two {
        font-size: 3.5rem;
    }

    .btn-primary {
        font-size: 1rem;
        padding: 1rem 2rem;

    }

    .btn-secondary {
        font-size: 1rem;
        padding: 1rem 2rem;
        margin: 2.5rem 0 0 0;
    }


    /*--------------- online video section responsive -------------*/

    .online-videos-container {
        grid-template-columns: 1fr;
    }

    .online-games-content {
        padding: 1rem;
    }

    .online-games-title {
        font-size: 2rem;
    }


    .videos-card {
        padding: 1rem;
    }

    .watch-now {
        text-align: center;
        position: absolute;
        top: 200px;
        left: 170px;
        display: none;
    }

    /*--------------- play instant section responsive------------ */

    .play-instant-content {
        width: 100%;
        padding: 0 10px;
        margin-bottom: 0;
        text-align: center;
    }

    .play-instant-container {
        flex-direction: column;
        gap: 0;
        padding: 1rem;
    }

    .play-instant-description {
        padding: 0;
    }

    .play-instant-img {
        width: 100%;
        padding: 0 2.5rem;

    }

    .instant-img-one {
        position: relative;
        left: 25px;
    }

    .instant-img-two {
        position: relative;
        top: 70px;
        left: 30px;
    }


    /*-------------------- games section responsive---------------- */

    .games {
        margin: 0;
    }

    .games-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 0 10px;
    }

    .margin-left {
        margin-left: 0;
    }

    .games-card {
        width: 100%;
    }

    .games-title {
        font-size: 10px;
        font-weight: 500;
    }

    .games-card:hover {
        outline: 2px solid #FF42A5;
        border-radius: 50px;
        background: #FFF;

    }

    .games-card:hover .games-title {
        color: #FF42A5;
    }


    /*---------------- footer responsive-------------------*/

    .footer-container {
        padding: 50px;
    }

    .footer-link {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 2rem;
        padding: 0;
    }

    .footer-icons {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
    }

    .footer-info {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        padding-left: 1.5rem;
    }

    .icon {
        font-size: 1.5rem;
    }

}



/*-------------------------------------
         tablet devices
--------------------------------------*/

@media screen and (min-width:577px) and (max-width:768px) {

    /*-----------------nav responsive--------------- */

    .nav-container,
    .logo-container,
    .nav-items-container {
        flex-direction: column;
    }

    .nav-items-container {
        margin-bottom: 30px;
    }


    /*--------------- banner responsive--------- */

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-content,
    .banner-img {
        width: 100%;
        padding: 0 3rem;
    }

    .banner-content {
        padding: 4rem;
        text-align: center;
    }

    .banner-title-one {
        font-size: 3rem;
    }

    .banner-title-two {
        font-size: 5rem;
    }


    /*------------ online videos section responsive--------- */

    .online-videos-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .online-games-content {
        padding: 1rem;
    }

    .online-games-title {
        font-size: 3rem;
    }

    .videos-card {
        padding: 1rem;
    }

    .watch-now {
        text-align: center;
        position: absolute;
        top: 180px;
        left: 145px;
        display: none;
    }


    /*----------- play instant section responsive-------- */

    .play-instant-container {
        flex-direction: column;
        gap: 0;
        padding: 2rem;
    }

    .play-instant-content {
        width: 100%;
        padding: 0 10px;
        margin-bottom: 0;
        text-align: center;
    }

    .play-instant-description {
        padding: 0;
    }

    .play-instant-img {
        width: 100%;
        padding: 0 3.25rem;

    }

    .instant-img-one img {
        width: 100%;
        position: relative;
        top: 130px;
        left: 50px;
    }

    .instant-img-two img {
        width: 50%;
        position: relative;
        left: -50px;
        top: -140px;
    }


    /*-------------- games section responsive------------ */

    .games {
        margin: 0;
        padding: 1rem;
        text-align: center;
    }

    .games-container {
        grid-template-columns: repeat(3, 1fr);
        padding: 1rem;
    }

    .margin-left {
        padding: 0;
    }

    .games-card {
        margin: 0;
    }

    .games-title {
        font-size: 12px;
        font-weight: 600;
    }

    .games-card:hover {
        outline: 2px solid #FF42A5;
        border-radius: 50px;
        background: #FFF;
    }

    .games-card:hover .games-title {
        color: #FF42A5;
    }


    /*------------- footer responsive--------------- */

    .footer-container {
        padding: 50px;
    }

    .footer-link {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 2rem;
        padding-left: 4rem;
    }

    .footer-icons {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        padding-left: 10rem;
    }

    .footer-info {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        padding-left: 7.5rem;
    }

    .icon {
        font-size: 1.5rem;
    }


}