/* common styles */
* {
    margin: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Work Sans', sans-serif;
}

/* header styles */

/* nav styles */

.nav-section {
    background-colo: #FFF;
    padding: 1.25rem 0;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.logo-container {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.logo-container img {
    width: 5.25rem;
    height: 2.5rem;
}

.logo-container p {
    font-size: 2.75rem;
    font-weight: 700;
    color: #0B0223;
}

.gamer-section {
    color: #FF42A5;
}


.nav-items-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.nav-items-container a {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.btn-follow {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1.25rem 1.5rem;
}

.btn-follow .youtube {
    width: 2rem;
    height: 1.5rem;
    color: #F61C0D;
    margin-left: 18px;
}

.btn-follow .tiktok {
    width: 1.5rem;
    height: 1.5rem;
}




/* media queries style */

/* mobile devices */
@media screen and (max-width:576px) {

    .nav-container,
    .logo-container,
    .nav-items-container {
        flex-direction: column;
    }
}

/* tablet devices */
@media screen and (min-width:577px) and (max-width:960px) {}